@{
  Layout = "_Layout";
}
<h1>Welcome to Pierre's Dank Delicacies</h1>

<h2>Flavors</h2>
@if (ViewBag.allFlavors.Count == 0)
{
  <p>No flavors have been added to the system</p>
}
<ul>
@foreach (var flavor in ViewBag.allFlavors)
{
  <li>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
}
</ul>
<h2>Treats</h2>
@if (ViewBag.allTreats.Count == 0)
{
  <p>No treats have been added to the system</p>
}
<ul>
@foreach (var treat in ViewBag.allTreats)
{
  <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</li>
}
</ul>

<button>@Html.ActionLink("See all flavors", "Index", "Flavors")</button>
<button>@Html.ActionLink("See all treats", "Index", "Treats")</button>
@if (User.Identity.IsAuthenticated)
{
<button>@Html.ActionLink("My treats", "UserTreats", "Account")</button>
@using (Html.BeginForm("LogOff", "Account"))
{
  <input type="submit" value="Log out"/>
}
<button>@Html.ActionLink("My account", "Index", "Account")</button>
}
else
{
<button>@Html.ActionLink("Login", "Login", "Account")</button>
<button>@Html.ActionLink("Create an account", "Index", "Account")</button>
}