@{
  Layout = "_Layout";
}
@model Pierre.Models.Treat

<h1>Edit</h1>
<h2>Edit treat: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { required="required" } )
  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId", (SelectList)ViewBag.FlavorId, "None")
  <input type="submit" value="Save"/>
}