@{
  Layout = "_Layout";
}
@model Pierre.Models.Flavor

<h1>Edit</h1>
<h2>Edit flavor: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { required="required" } )
  @Html.Label("Select treat")
  @Html.DropDownList("TreatId", (SelectList)ViewBag.TreatId, "None")
  <input type="submit" value="Save"/>
}